body {
    background-image: url('images/1727756175913.jpg');
    background-repeat: repeat;
    background-size: 90px;
}
.content{
  display: grid;
  place-items: center;
  height: 80vh;
}
.among {
  background-color: #151515;
  opacity: 85%;
  border-width: 10px;
  border-radius: 20px;
  border-color: #505050;
  border-style: solid;
  height: 250px;
  width: 300px;
  position: relative;
}
button {
  height: 50px;
  width: 200px;
  padding:0;
  margin: 0;
  border-color: darkred;
  border-radius: 20px;
  border-style: solid;
  background-color: red;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: myFont;
  position: absolute;
  top: 380px;
  left: 80px;
  z-index: 1;
  cursor: none;
}
button:active {
  background-color: darkred;
  border-color: red;
}
.ghgh {
  display: grid;
  place-items: center;
}
@font-face {
  font-family: myFont;
  src: url(fonts/DFPPOPCorn-W12.ttf);
}
h1 {
  color: white;
  position: absolute;
  font-family: myFont;
  top: 180px;
  -webkit-text-stroke: 1px slategray;
}
img {
  position: absolute;
  height: 100px;
  top: 250px;
  border: solid;
  border-color: gray;
  border-width: 3px
}
